@use './_variables' as *;

.certifications{
	font-size: 2rem;
	margin: 1rem 0.8rem 1rem 0;

	.subject{
		box-sizing: border-box;
		padding-bottom: 1rem;
		width: 100%;
		border-bottom: 1px solid black;

		.title{
			font-size: 1.7rem;
			line-height: 2rem;
		}
	}
}

.certificate{
	padding-top: 1rem;
	font-size: 1.8rem;
	line-height: 2rem;
	display: flex;

	.site{
		font-style: italic;
		flex: 1;
	}

	.content{
		flex: 7;
		padding-left: 2rem;

		.link{
			display: block;

			a{
				text-decoration: none;
				color: black;
				cursor: pointer;
			}

			a:hover{
				color: rgba(0, 0, 0, 0.5);
			}
		}

		.description {
			font-size: 1.6rem;
			line-height: 2rem;
			display: block;
		}

	}


}
