@use './_variables' as *;

.certifications{
	font-size: 2rem;
	display: flex;
	margin: 1rem 0.8rem 1rem 0;

	.subject{
		box-sizing: border-box;
		padding-bottom: 1rem;
		width: 100%;
		border-bottom: 1px solid black;

		.title{
			font-size: 1.7rem;
			line-height: 2rem;
		}
	}

}
