.collapsible {
	padding: 1rem 2rem;

	.heading{
		font-size: 2rem;
		line-height: 2rem;
		align: center;
		display: flex;
		width: 100%;

		.hidden{
			display:none;
		}

		.icon{
			color: black;
			margin-right: 1rem;
		}

		.icon:hover{
			color: rgba(255, 255, 255, 0.3);
		}

	}

	.button{
		flex: 1;
		text-align: right;
	}

	.content{
		box-sizing: border-box;
		transition: all 1s;
	}

	.content-hidden{
		max-height: 0;
		padding-top: 0.5rem;
		overflow: hidden;
	}

	.content-visible{
		max-height: 100vh;
		padding-top: 1rem;
		overflow-y: auto;
	}

}
