@use './_variables' as *;

.experience{
	font-size: 2rem;
	display: flex;
	margin: 1rem 0.8rem 1rem 0;

	.company{
		padding: 1rem 1rem 1rem 0;
		width: auto;

		img{
			height: 10rem;
			border-radius: 1rem;
		}

		.name{
			display: block;
			width: 100%;
			margin-top: 1rem;
			font-size: 1.8rem;
			line-height: 2rem;
			text-align:center;
		}

	}

	.content{
		padding: 1rem;
		font-size: 1.8rem;
		line-height: 1.8rem;
		flex: 1;

		.heading{
			padding: 0.5rem 0;
			border-bottom: 1px solid black;
		}

		.designation{
			display: inline-block;
		}

		.duration{
			display: inline-block;
			padding-left: 1rem;
			font-size: 1.7rem;
			font-style: italic;
		}

		.details{
			padding: 0.5rem 0;
		}

		.detail{
			padding: .3rem;
		}

	}

}
