@use './_variables' as *;

$background-gradient: linear-gradient(to bottom right, $primary-color-1, $primary-color-2);

html{
	font-size: 62.5%;
	line-height: 100%;
	background-image: $background-gradient;
}

*{
	margin: 0;
	padding: 0;
}

body{
  display: flex;
  flex-direction: column;
	overflow-y: visible;
}

.App{
	position: relative;
}

.overlay{
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	text-align:center;

	img{
		transform: translateY(5%);
		max-height: 90vh;
	}
}
