@use './_variables' as *;

.navbar{
  box-sizing: border-box;
  width: 100%;
  background-color: rgba($navbar-color, 0.25);
  display: flex;
	flex-basis: 3em;
}

.site-name{
	flex: 1;
  padding: 1rem 2rem;
  font-size: 3rem;
	line-height: 3rem;
  font-family: 'Roboto', sans-serif;
  color: rgba($primary-color-3, 0.99);
}

.navbar .link{
  padding: 1rem 2rem;
	text-decoration: none;
	font-size: 2rem;
	line-height: 3rem;
	color: rgba($primary-color-3, 0.95);
}

.navbar .link:hover{
	color: rgba($primary-color-3, 0.65);
}

.navbar .link:active{
	color: rgba($primary-color-3, 0.45);
}
