@use './_variables' as *;

.project{
	font-size: 2rem;
	margin: 1rem 0.8rem 1rem 0;

	.title{
		box-sizing: border-box;
		padding: 1rem 0;
		width: 100%;
		font-size: 2rem;
		line-height: 2rem;
		border-bottom: 1px solid black;
		display: flex;
		flex-direction: row;

		.name{
			flex: 1;
		}

		a{
			display: inline-block;
			color: black;
			padding: 0 2rem;
		}

		a:hover{
			color: rgba(0, 0, 0, 0.5);
		}

	}

	img{
		display: inline;
		border-radius: 1rem;
		height: 10rem;
		padding: 1rem;
		max-height: 10vmin;
	}

	.description{
		padding: 2rem 1rem;

		p{
			padding: .5rem;
			font-size: 1.7rem;
			line-height: 1.7rem;
		}

		.heading{
			display: inline;
			font-weight: 500;
		}

		.languages{
			font-style: italic;
		}

	}

}
